<h2>Average time in each column</h2>

<% Board.all.each do |board| %>
  <%= board.name %>
  <ul>
    <% board.lists.each do |list| %>
      <% unless list.count.zero? %>
        <li>
          Average time in
          <strong><%= list.name %></strong>:
          <%= distance_of_time_in_words(list.total_time / list.count) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
